In [14]:
# set the path
import os
path= os.getcwd()

if path.endswith("notebooks"):
    os.chdir("../")
else:
    print("we are at correct path")

we are at correct path

In [19]:
# import dependencies

import warnings
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 

from src.config import settings
from src.database import fetch_data
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
warnings.filterwarnings('ignore')
%matplotlib inline

In [20]:

# fetch the data now
data= fetch_data(table_name= settings.table_name)

In [21]:
data.head(4)

,driver_age,gender,marital_status,occupation,employment_status,income_band,licence_years,ncd_years,age_band,ncd_band,vehicle_make,vehicle_year,vehicle_age,vehicle_body_type,fuel_type,gearbox_type,engine_cc,abi_group,abi_band,car_value,car_value_band,car_value_to_income_proxy,inception_date,policy_term_months,exposure_years,cover_type,use_type,annual_mileage,mileage_band,overnight_parking,voluntary_excess,compulsory_excess,payment_method,total_claim_cost,risk_premium,technical_premium,quoted_premium,convictions,fault_claims,nonfault_claims,total_claims,claims_per_year_of_licence,young_driver_flag,senior_driver_flag,high_mileage_flag,luxury_brand_flag,urban_flag,high_excess_flag,monthly_pay_flag,multi_claims_flag
0,68,Female,Single,Commercial/residential surveyor,Self-Employed,Low,51,15.0,Elderly,Very High,Audi,2021,4,SUV,Petrol,Automatic,1000,1,Very Low,35333.97,Luxury,0.4596,2025-10-18,12,1,Third party fire and theft,Social,5486,Average,Driveway,0,150,Monthly,0,0,0,1801.44,0,0,0,0,0,0,0,0,0,1,0,1,0
1,31,Female,Divorced,administration,Self-Employed,Moderate,13,12.5,Adult,Very High,Mercedes,2009,16,Hatchback,Petrol,Manual,1600,1,Very Low,48506.02,Luxury,1.5589,2024-12-30,12,1,Comprehensive,Business,5584,Average,Street,250,150,Annual,0,0,0,421.90,0,0,0,0,0,0,0,0,0,0,0,1,0
2,77,Female,Single,"Surveyor, commercial/residential",Self-Employed,High,58,15.0,Elderly,Very High,Ford,2010,15,SUV,Petrol,Automatic,1000,47,Very High,40958.77,Luxury,1.0098,2025-09-27,12,1,Third party fire and theft,Social,11588,High,Garage,0,150,Annual,0,0,0,936.37,0,0,0,0,0,0,0,0,0,1,0,0,0
3,37,Male,Widowed,Copy,Student,Moderate,18,15.0,Mid-age,Very High,Audi,2023,2,SUV,Hybrid,Automatic,3000,34,High,44584.49,Luxury,0.8609,2025-05-20,12,1,Third party only,Social,13829,High,Locked Compound,0,150,Monthly,0,0,0,947.50,0,0,0,0,0,0,0,0,0,0,0,0,0

In [22]:
# at this point inception date is not useful in future we can check policy age by it inception date - crrent date.
# so drop it
data.drop(columns= "inception_date", axis=1, inplace= True)